@font-face {
  font-family: "Eldwin";
  src: url("./assets/fonts/Eldwin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/Mazzard.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --green-dark: #174e52;
  --green: #8fcda1;
  --cream: #f8f4ea;
  --white: #ffffff;

  --heading-font: "Eldwin", serif;
  --body-font: "Mazzard", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;

  background: var(--white);
  color: var(--green-dark);

  font-family: var(--body-font);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}